---
import { ReactCanva } from './ReactCanva';
---

<script>
  import { ParamsSplitAndReveal, splitAndReveal } from '@helpers/gsap';
  document.addEventListener('load', () => {
    const paramsSplitAndRevealTitle: ParamsSplitAndReveal = {
      element: '#draw-something-title',
      typeSplit: 'chars',
      trigger: '#section-ds-something',
    };

    splitAndReveal(paramsSplitAndRevealTitle);
  });
</script>

<section id="section-ds-something" class="section-draw-something">
  <h2 id="draw-something-title" class="title">What would you draw for me ?</h2>
  <ReactCanva client:only="react" />
</section>

<style lang="scss" is:global>
  .section-draw-something {
    position: relative;
    z-index: 30;
    font-size: 2.4rem;
    cursor: none;
    min-height: clamp(55.2rem, 55.2rem, 520px);

    @media screen and (max-width: 768px) {
      min-height: 50vh;
    }

    .title {
      position: absolute;
      z-index: 10;
      top: clamp(35px, 6.7rem, 6.7rem);
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: clamp(
        34px,
        var(--font-size-heading),
        var(--font-size-heading)
      );
      text-align: center;
    }

    .wrapper-button {
      position: absolute;
      bottom: clamp(20px, 3.3rem, 3.3rem);
      left: 0;
      right: 0;

      .container {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        @media screen and (max-width: 768px) {
          justify-content: center;
        }
      }
    }

    .section-draw-button {
      padding: 4px;
      background-color: transparent;
      font-size: clamp(12px, 1.4rem, 1.4rem);
      text-transform: uppercase;
      font-family: var(--text-body-medium);
      letter-spacing: 0.2rem;
      color: var(--color-white-beauty);
      border: none;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover,
      &.success {
        color: var(--color-ice-ice-baby);
      }
    }
  }
</style>
