---
---

<script>
  import gsap from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    gsap.from("#telephone", {
      opacity: 0,
      y: -5,
      duration: 2,
      ease: "power1.inOut",
      delay: 0.25,
    });
  });
</script>

<a id="telephone" class="telephone" href="tel:+33635359793">06.35.35.97.93</a>

<style lang="scss">
  .telephone {
    position: relative;
    color: #fff;
    font-size: clamp(71px, 23rem, 50rem);
    font-family: var(--text-script-bold);
  }
</style>
