---
import AnswerNo from './AnswerNo';
---

<script>
  import gsap from 'gsap';
  import getRandomInt from '@helpers/getRandomInt';

  function handleNoHover() {
    console.log('hive');
    const noElement = document.getElementById('answer-no');
    const elementWidth = noElement.offsetWidth;
    console.log(elementWidth);
    const elementHeight = noElement.offsetHeight;
    // /* Detect */
    const maxX = window.innerWidth - elementWidth;
    const maxY = window.innerHeight - elementHeight;

    const topPos = getRandomInt(0, 200);
    const leftPos = getRandomInt(0, 200);

    gsap.to('#answer-no', {
      top: topPos,
      right: '10rem',
      ease: 'power4.inOut',
      duration: 0.75,
    });
    gsap.to('#answer-no', {
      top: 'initial',
      right: '74rem',
      ease: 'Power4.inOut',
      duration: 0.3,
      delay: 2,
    }).totalDuration;
  }

  window.addEventListener('load', () => {
    console.log('hived');

    const noElement = document.getElementById('answer-no');
    noElement.addEventListener('mouseenter', handleNoHover);
  });
</script>

<section
  id="section-draw-together"
  class="section-draw-together overflow-visible"
>
  <h2 class="title">
    Should we draw together <span class="highlight">?</span>
  </h2>
  <div class="answers">
    <div>
      <span dta-speed="1.1" data-lag="0.04" class="yes"> Yes</span>
    </div>
    <span id="answer-no" class="no"> No</span>
  </div>
</section>

<style lang="scss">
  .section-draw-together {
    padding: 12rem 0 12rem 0;

    .title {
      margin-bottom: 6rem;
    }

    .answers {
      margin: 7rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 44.6rem;
      color: var(--color-text);
      font-family: var(--text-heading);
      .yes {
        font-size: 7rem;
      }
      .no {
        position: absolute;
        font-size: 3rem;
        right: 74rem;
      }
    }
  }

  .title {
    text-align: center;
    max-width: 47.6rem;
    margin: 0 auto;
    font-size: var(--font-size-heading);

    .highlight {
      color: var(--color-ice-ice-baby);
    }
  }
</style>
