---
import MiniMenu from './MiniMenu/MiniMenu.astro';
---

<script>
  import config from '../../../config';
  import { gsap } from '../../../libs/gsap/all';
  import {
    animateCategories,
    animateSeparators,
    revealResize,
  } from './MiniMenu/MiniMenu.animations';

  let selector = gsap.utils.selector(
    document.querySelector('#section-hero-title')
  );

  // Duration of preloader
  const timeout = config.mode === 'development' ? 1500 : 8500;

  setTimeout(() => {
    gsap.set(selector('.letters div'), { yPercent: -103 });
    gsap.set('#section-hero-title', { autoAlpha: 1 });

    gsap
      .timeline()
      .to(selector('.letters div'), {
        duration: 1,
        yPercent: 0,
        stagger: 0.05,
        ease: 'expo.inOut',
      })
      .to(selector(".letters div:not([data-char='.'])"), {
        duration: 1,
        yPercent: 103,
        stagger: 0.1,
        ease: 'expo.inOut',
      })
      .call(() => {
        revealResize('#mini-menu-mark');
      })
      .call(() => {
        animateCategories();
      })
      .call(() => {
        animateSeparators();
      });
  }, timeout);
</script>

<div class="hero-wrapper">
  <h1 id="section-hero-title" class="heading" data-speed="0.98" data-lag="0.04">
    <div class="letters graphic">
      <p class="shadow">Graphic</p>
      <div data-lag="0.0055" data-char=".">G</div>
      <div data-lag="0.0165" data-char=".">r</div>
      <div data-lag="0.022" data-char="a">a</div>
      <div data-lag="0.07" data-char="p">p</div>
      <div data-lag="0.08" data-char="h">h</div>
      <div data-lag="0.09" data-char=".">i</div>
      <div data-lag="0.1" data-char=".">c</div>
    </div>
    <div class="highlight">
      <div class="letters">
        <div data-char=".">s</div>
        <div data-char=".">t</div>
        <div data-char=".">u</div>
        <div data-char=".">d</div>
        <div data-char=".">i</div>
        <div data-char="o">o</div>
      </div>
    </div>
  </h1>
  <MiniMenu />
</div>

<style lang="scss" is:global>
  .hero-wrapper {
    position: relative;
    min-height: calc(100vh);
    display: flex;
    align-items: center;

    @media screen and (max-width: 550px) {
      padding: 0 24px;
    }
  }
  .heading {
    visibility: hidden;
    position: relative;
    margin-left: -1.1rem;
    font-size: 0;
    z-index: 10;
    mix-blend-mode: difference;

    .canva-black & {
      color: var(--color-white-beauty);
    }
    .canva-white & {
      color: var(--color-black-beauty);
    }

    .letters {
      position: relative;
      font-size: 0;
      overflow: hidden;
      display: flex;
      div {
        font-size: clamp(80px, 27.7rem, 27.7rem);
        display: inline-block;
        @media screen and (max-width: 766px) {
          font-size: 35rem;
        }
      }

      &.graphic {
        letter-spacing: 1px;
      }
    }

    .highlight {
      display: block;
      font-size: 0;
      position: relative;
      bottom: 5.4rem;
      margin-left: -1.4rem;
      color: transparent;

      letter-spacing: 1px;

      .canva-black & {
        -webkit-text-stroke: 2px var(--color-white-beauty);
      }
      .canva-white & {
        -webkit-text-stroke: 2px var(--color-black-beauty);
      }

      @media screen and (max-width: 766px) {
        .canva-black & {
          -webkit-text-stroke: 1px var(--color-white-beauty);
        }
        .canva-white & {
          -webkit-text-stroke: 1px var(--color-black-beauty);
        }
      }

      @media screen and (max-width: 766px) {
        bottom: 0;
      }

      div {
        font-size: 31.6rem;
        letter-spacing: 1px;
      }
    }

    .letters {
      letter-spacing: 1px;
    }

    div {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-char);
        transform: translateY(-103%);
      }
    }
  }
</style>
