<script>
  import handleCurtainSuccess from '../functions/handleCurtainSuccess';
  //@ts-ignore
  import { Curtains } from 'curtainsjs';
  const root = document.querySelector(':root');
  const cssStyle = getComputedStyle(root);
  // Alert the value of the --blue variable
  const hue = +cssStyle.getPropertyValue('--canva-hue');
  const saturation = +cssStyle.getPropertyValue('--canva-saturation');

  document.addEventListener('DOMContentLoaded', function () {
    const mainCanva = document.getElementById('main-canva');
    const portal = document.getElementById('portal-canva');

    portal.appendChild(mainCanva);
  });

  window.addEventListener('load', () => {
    /**
     * WHITE
     */
    const curtainWhite = new Curtains({
      container: document.getElementById('main-canva'),
      pixelRatio: Math.min(1.5, window.devicePixelRatio),
    });

    const bgWhite = {
      r: 255,
      v: 255,
      b: 255,
    };
    // on success
    curtainWhite.onSuccess(
      handleCurtainSuccess(curtainWhite, 'main-canva', hue, saturation, bgWhite)
    );
  });
</script>

<div id="main-canva" class="main-canva canva"></div>

<style lang="scss">
  .canva {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: all 0.3s linear;

    &.visible {
      opacity: 1;
    }
  }
</style>
