---
import BrushDrawMe from './BrushDrawMe.astro';

interface AstroProps {
  drawMeA: string;
  projectColor: string;
}

const { drawMeA, projectColor } = Astro.props as AstroProps;
---

<h1 class="title">
  <span class="brushed"
    >Draw me
    <BrushDrawMe projectColor={projectColor} />
    <div class="animate"></div>
  </span>
  <span class="highlight">{drawMeA}</span>
</h1>

<style lang="scss">
  .title {
    font-size: 12rem;
    line-height: 0.95;

    .brushed {
      position: relative;
    }
    .highlight {
      display: block;
      color: transparent;
      text-transform: lowercase;
      letter-spacing: 3px;
      -webkit-text-stroke: 1px hsl(191deg 100% 10%);
    }
  }
</style>
