---
import { BrushDrawMe } from './BrushDrawMe';

interface AstroProps {
  drawMeA: string;
  projectColor: string;
}

const { drawMeA, projectColor } = Astro.props as AstroProps;
---

<h1 class="title" data-speed="0.95" data-lag="0.02">
  <span class="brushed"
    >Draw me
    <BrushDrawMe projectColor={projectColor} />
  </span>
  <span class="highlight">{drawMeA}</span>
</h1>

<style lang="scss">
  .title {
    font-size: clamp(45px, 12rem, 12rem);
    line-height: 0.85;

    @media screen and (max-width: 1024px) {
      padding: 0 24px;
    }

    .brushed {
      position: relative;
    }
    .highlight {
      display: block;
      color: transparent;
      text-transform: lowercase;
      letter-spacing: 3px;
      -webkit-text-stroke: 1px hsl(191deg 100% 10%);
    }
  }
</style>
