---
import { Image } from '@astrojs/image/components';

import { SanityImage } from '@interfaces/SanityImage';

interface AstroProps {
  mainImages: SanityImage[];
}

const { mainImages } = Astro.props as AstroProps;
---

<div class="wrapper-images">
  {
    mainImages.map((image) => {
      const { width, height, aspectRatio } = image.asset.metadata.dimensions;
      return (
        <div class="wrapper-image">
          <img src={image.asset.url} alt="image" />
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .wrapper-images {
    display: flex;
    flex-direction: row;
    .wrapper-image {
      &:nth-child(1) {
        margin-top: 15rem;
        position: relative;
        right: 1.4rem;
      }
      &:nth-child(2) {
        margin-top: 34px;
      }
    }
  }
</style>

<!-- 
 -->
