.wrapper-button {
  position: absolute;
  bottom: clamp(20px, 3.3rem, 3.3rem);
  left: 0;
  right: 0;

  .container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}

.section-draw-button {
  padding: 4px;
  background-color: transparent;
  font-size: clamp(12px, 1.4rem, 1.4rem);
  text-transform: uppercase;
  font-family: var(--text-body-medium);
  letter-spacing: 0.2rem;
  color: var(--color-white-beauty);
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover,
  &.success {
    color: var(--color-ice-ice-baby);
  }
}
