---
import { SanityImage } from "@interfaces/SanityImage";

interface AstroProps {
  images: SanityImage[];
}

const { images } = Astro.props as AstroProps;
---

<script>
  import { revealImages } from "./SectionImagesDecale.animation";

  document.addEventListener("DOMContentLoaded", () => {
    revealImages();
  });
</script>

<section class="conteneur section-images-decale">
  {
    images.map((image) => {
      const {
        url,
        altText,
        metadata: {
          dimensions: { height, width },
        },
      } = image.asset;

      return (
        <div class="wrapper-image o-hidden">
          {
            <img
              class="image-decale"
              src={url}
              alt={altText}
              width={width}
              height={height}
            />
          }
        </div>
      );
    })
  }
</section>

<style lang="scss">
  .section-images-decale {
    margin: 18.3rem 0;

    .wrapper-image {
      display: flex;
      margin-top: 13rem;

      image {
        max-width: 10.5rem;
      }
      &:nth-child(even) {
        justify-content: flex-end;
      }
      &:nth-child(odd) {
        justify-content: flex-start;
      }
    }
  }

  .conteneur {
    position: relative;
    max-width: 163rem;
    margin-right: auto;
    margin-left: auto;
  }
</style>
