---
import Angle from "@features/listing/components/Angle/Angle.astro";
import guillemets from "@assets/svg/guillemets.svg";
---

<script>
  import { revealText, revealParagraph } from "./SectionIntro.animation";

  document.addEventListener("DOMContentLoaded", () => {
    revealText(".reveal-title");
    revealParagraph();
  });
</script>

<section class="section section--intro">
  <Angle />

  <h2 class="section__title">
    <span class="reveal-title o-hidden">Projects</span>
    <br />
    <span class="reveal-title o-hidden"> where</span>
    <span class="reveal-title highlight o-hidden">artistry</span>
    <br />
    <span class="reveal-title o-hidden">soars</span>
  </h2>
  <div class="o-hidden">
    <p class="section__poem reveal-paragraph split-text">
      In realms of allure, where desires ignite, <br class="only-tablet" /> Draw
      me a Sheep, a seductive delight. <br /> Whispered strokes, secrets unveiled,
      <br class="only-tablet" />A graphic studio’s charm, where pleasure
      prevails.<br /> Logos, posters, a tantalizing affair, <br
        class="only-tablet"
      />Sensual designs, beguiling and rare.
    </p>
  </div>
  <br />
  <p class="section__poem reveal-paragraph split-text">
    Illustrations entwine, passion’s embrace,<br class="only-tablet" /> Visual temptation,
    setting hearts in a chase.<br />
    Animations that tease, with sultry glee,<br class="only-tablet" /> Draw me a
    Sheep, where fantasies roam free.<br /><br class="only-tablet" /> Packaging,
    branding, an intimate design,<br class="only-tablet" /> A world of creativity,
    where ecstasy intertwines.<br /><br /> Web development, UX, a sensuous display,
    <br class="only-tablet" />
    An alluring journey, guiding your way.<br />
    <br class="only-tablet" />From concept to creation, an enchanting escape,
    <br class="only-tablet" />Draw me a Sheep, where desire takes shape.<br />
    Unleashing the beauty, captivating your sight, <br class="only-tablet" />A
    graphic studio’s seduction, arousing pure delight.
  </p>
  <div class="o-hidden guillemets-wrapper">
    <img class="guillemets-image" src={guillemets} alt="quotes" />
  </div>
</section>

<style lang="scss" is:global>
  .section {
    line-height: 1;
    position: static;
    top: 0;
    z-index: 4;
    width: 100%;
    min-height: 100vh;
    background: var(--color-bg);
  }
  .guillemets-wrapper {
    margin: 5vh 0 6vh;

    @media screen and (max-width: 1024px) {
      margin: 28px 0 24px;
    }
  }

  .guillemets-image {
    width: clamp(40px, 8.3rem, 8.3rem);
  }

  .section__title {
    z-index: 10;
    font-size: clamp(36px, 20rem, 20rem);

    .highlight {
      color: var(--color-ice-ice-baby);
    }
  }

  .section--intro {
    overflow: hidden;
    position: relative;
    margin-bottom: 250vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: clamp(58px, 5.8rem, 5.8rem) 0 2rem;
    cursor: default;

    @media screen and (max-width: 560px) {
      margin-bottom: 122vh;
    }
  }

  .section__poem {
    margin: 0;
    max-width: 1210px;
    text-align: center;
    line-height: clamp(33px, 3.3rem, 3.3rem);
    font-size: clamp(24px, 2.4rem, 2.4rem);

    @media screen and (max-width: 1024px) {
      padding: 0 8px;
      line-height: 1.4;
      letter-spacing: clamp(2px, 0.2rem, 0.2rem);
      font-weight: 800;
      font-size: clamp(12px, 2.1rem, 2.1rem);
      font-family: var(--text-body-thin);
    }
  }

  .section__arrow {
    transform: translateY(3px) rotate(135deg);
    fill: currentColor;
  }

  .section__text--alt {
    margin-top: auto;
    font-size: 14px;
    color: var(--color-black-beauty);
  }
</style>
