@font-face {
  font-family: 'WagonBold';
  src: url('/assets/fonts/wagon/wagon-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'MontrealBold';
  src: url('/assets/fonts/montreal/PPNeueMontreal-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'MontrealMedium';
  src: url('/assets/fonts/montreal/PPNeueMontreal-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'MontrealBook';
  src: url('/assets/fonts/montreal/PPNeueMontreal-Book.woff2') format('woff2');
}
@font-face {
  font-family: 'MontrealThin';
  src: url('/assets/fonts/montreal/PPNeueMontreal-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'TechnoTwistBold';
  src: url('/assets/fonts/twist/LLDEtechnoTwist-Bold0.woff2') format('woff2');
}
@font-face {
  font-family: 'TechnoGlitchBold';
  src: url('/assets/fonts/twist/LLDEtechnoTwistGX.woff2') format('woff2');
}
