:root {
  font-size: calc(100vw / 1920 * 10);
}

:selection {
  background: var(--color-ice-ice-baby);
  transition: all 0.1s linear;
}

::selection {
  background: var(--color-ice-ice-baby);
  transition: all 0.1s linear;
}

body {
  min-height: 800vh;
  background: #fff;
  color: #000;
  min-height: 100vh;
  font-family: 'MontrealMedium';
  margin: 0;
  padding: 0;
  transition: 0.15s linear;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-heading);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button {
  color: var(--color-text);
}

main {
  min-height: calc(100vh - 176px - 320px);
}

img {
  height: auto;
  max-width: 100%;
}

.bold,
b,
strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1280px) {
    padding: 0 2rem;
  }
}

.text-visible.split-text div {
  overflow: visible;
}

.zigwigwi {
  position: relative;
  display: inline-block;

  .svg-zigwigwi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -10px;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);

    path {
      stroke-dashoffset: 0;
      stroke-dasharray: none;
      stroke-width: 7;
      stroke: var(--color-ice-ice-baby);
      fill: none;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  transition: all 0.3s linear;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.opacity-0 {
  opacity: 0;
}

/* Animations */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide-tablet {
  display: inherit;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.hide-desktop {
  display: none;
  @media screen and (max-width: 1024px) {
    display: inherit;
  }
}

.canva {
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw !important;
    min-height: 100vh !important;
  }
}
