.none {
  display: none;
}

.relative {
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.primary-color {
  color: var(--color-ice-ice-baby);
}

.split-text div {
  overflow: hidden;
}

.overflow-visible .split-text div {
  overflow: visible;
}
