---
import { SanityWhoAmI } from "../../interfaces/SanityWhoAmI";

interface AstroProps {
  sanityWhoAmI: SanityWhoAmI;
}

const { sanityWhoAmI } = Astro.props as AstroProps;
---

<script>
  import { TypeShuffle } from "@helpers/typeShuffle";

  const textElement = document.querySelector(".introduction");
  const ts = new TypeShuffle(textElement);
  ts.trigger("fx3");
</script>

<div class="hero">
  <div class="conteneur">
    <div class="wrapper-text">
      <h1 class="title split-text">
        {sanityWhoAmI?.titlePart1}
        <span class="highlight">{sanityWhoAmI?.titlePart2}</span>
      </h1>
      <p id="who-am-i-intro" class="introduction">
        {sanityWhoAmI?.intro}
      </p>
    </div>
  </div>
</div>

<style lang="scss">
  .hero {
    height: clamp(435px, 100%, 800px);
    background-image: url("/assets/images/who-am-i-hero-background.jpg");
    background-size: cover;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 470px;
    }
  }

  .conteneur {
    max-width: clamp(100%, 177.6rem, 177.6rem);
    margin-left: auto;
    margin-right: auto;
    padding: 35px 0 45px;
  }

  .wrapper-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      width: 100%;

      position: relative;
      top: -32px;
    }
  }

  .title {
    line-height: 1;
    font-size: clamp(73px, 14rem, 14rem);
    color: #fff;

    .highlight {
      display: block;
      -webkit-text-stroke: 1px #fff;
      color: transparent;
    }
  }

  .introduction {
    max-width: clamp(400px, 41.9rem, 41.9rem);
    font-size: clamp(15px, 1.5rem, 1.5rem);
    color: #fff;
    line-height: clamp(22px, 2.2rem, 2.2rem);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
</style>
