---
import { Image } from "@astrojs/image/components";
import { Telephone } from "@features/contact/Telephone";
import { Email } from "@features/contact/Email";
import Canvas from "@features/home/components/Canvas.astro";
import Layout from "@layouts/Layout.astro";
import email from "../assets/images/email.png";
---

<Layout
  Canvas={Canvas}
  isHome={true}
  background="#000"
  title="Contact - Grahic Designer at Cagnes sur Mer"
>
  <div class="wrapper-contact" slot="main-content">
    <Email />
    <Telephone />
  </div>
</Layout>

<style lang="scss" is:global>
  .wrapper-contact {
    max-width: clamp(300px, 100rem, 100rem);
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 133px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @media screen and (max-width: 1280px) {
      padding: 0 12px;
    }
  }

  footer {
    display: none !important;
  }
</style>
