---
import { Image } from '@astrojs/image/components';
import Canvas from '@features/home/components/Canvas.astro';
import Layout from '@layouts/Layout.astro';
import email from '../assets/images/email.png';
import telephone from '../assets/images/telephone.png';
---

<script>
  import gsap from 'gsap';

  gsap.fromTo(
    '#mail',
    {
      opacity: 0,
      y: -5,
    },
    {
      opacity: 1,
      x: 0,
      duration: 2,
      ease: 'power1.inOut',
    }
  );
  gsap.fromTo(
    '#telephone',
    {
      opacity: 0,
      y: -5,
    },
    {
      opacity: 1,
      y: 0,
      duration: 2,
      ease: 'power1.inOut',
      delay: 0.25,
    }
  );
</script>

<Layout
  Canvas={Canvas}
  isHome={true}
  background="#000"
  title="Contact - Grahic Designer at Cagnes sur Mer"
>
  <div class="wrapper-contact" slot="main-content">
    <a id="mail" style="opacity: 0;" href="mailto:drawmeasheepdesign@gmail.com">
      <Image src={email} alt="Contact Draw me a sheep design by mail" />
    </a>
    <a
      id="telephone"
      style="opacity: 0;"
      class="telephone"
      href="tel:+33635359793"
    >
      <Image
        src={telephone}
        alt="Contact Draw me a sheep design by telephone"
      />
    </a>
  </div>
</Layout>

<style lang="scss" is:global>
  // #main-canva canvas:first-child {
  //   display: none;
  // }
  .wrapper-contact {
    max-width: clamp(103rem, 103px, 103px);
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 133px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @media screen and (max-width: 1280px) {
      padding: 0 12px;
    }
  }

  .telephone {
    position: relative;
    bottom: 5.9rem;
  }
  footer {
    display: none !important;
  }
</style>
