---
import '@styles/fonts.scss';
---

<script>
  import { Cursor2 } from 'src/scripts/Cursor2';

  new Cursor2(2);
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>404 - Where am i ?</title>
<body>
  <div class="wrapper">
    <h1>404</h1>
    <p>Where am i ? Let's <a href="/"> draw back</a></p>
  </div>
  <section class="cursor-container" id="cursor-2"></section>

  <style lang="scss" is:global>
    body {
      height: 100vh;
      overflow: hidden;
      background-color: var(--dark);
    }

    .wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 20vw;
        font-family: WagonBold;
        color: var(--white);
        mix-blend-mode: difference;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 2vw;
        color: var(--white);
        mix-blend-mode: difference;
        font-family: MontrealThin;
        margin: 0;
        padding: 0;
        a {
          color: var(--primary);
          text-decoration: none;
        }
      }
    }

    :root {
      --dark: #272729;
      --white: #ffffff;
      --primary: #00f9df;
      --secondary: #8c0fee;
      /* FONT */
      font-size: 62.5%;
      --font-size-global: 1.26rem;
      --line-height-global: 1.3;
      --letter-spacing-global: 0.1rem;
      --font-family: 'monument_extendedbold', 'Helvetica', 'Arial', sans-serif;
      /*  */
      --padding-global: clamp(0rem, 5vw, 2.5rem);
      --length-logo: 5.6rem;
    }
  </style>
</body>
