---
import { SectionDrawSomething } from '@features/home/components/SectionDrawSomething';
import SectionDrawTogether from '@features/home/components/SectionDrawTogether.astro';
import SectionHero from '@features/home/components/SectionHero.astro';
import SectionPresentation from '@features/home/components/SectionPresentation/SectionPresentation.astro';
import SectionProjects from '@features/home/components/SectionProjects.astro';
import SectionWhoAmI from '@features/home/components/SectionWhoAmI.astro';
import { querySanityHome } from '@features/home/queries/querySanityHome';
import { SanityHome } from '@features/home/interfaces/SanityHome';
import fetchSanity from '@helpers/fetchSanity';
import Layout from '@layouts/Layout.astro';
import Canvas from '@features/home/components/Canvas.astro';

const sanityHome = await fetchSanity<SanityHome>(querySanityHome);
const presentation = sanityHome && sanityHome.Home.introPresentationRaw;
const detail = sanityHome && sanityHome.Home.introDetail;
---

<Layout background="#000" title="Grahic Designer at Cagnes sur Mer">
  <Canvas slot="canvas" />
  <div slot="main-content">
    <SectionHero />
    <SectionPresentation presentation={presentation} detail={detail} />
    <SectionProjects />
    <SectionDrawSomething />
    <SectionDrawTogether />
    <SectionWhoAmI />
  </div>
</Layout>
