---
---

<script>
  import { animateTitle } from "./TitleShowcase.animation";

  document.addEventListener("DOMContentLoaded", () => {
    animateTitle();
  });
</script>

<h2 id="showcase-title" class="section__title section__title--medium o-hidden">
  <div class="word o-hidden">Selected</div><div class="word o-hidden">Work</div>
</h2>

<style lang="scss">
  .section__title--medium {
    font-size: clamp(32px, 12vw, 9rem);
  }
</style>
