<button class="burger-button" aria-label="button-menu">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style lang="scss">
  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    border: none;
    background: transparent;
    cursor: pointer;

    @media screen and (max-width: 550px) {
      gap: 5px;
    }
  }

  .line {
    display: block;
    width: 19px;
    height: 3px;
    background-color: #fff;
  }
  @media screen and (max-width: 550px) {
    width: 36px;
    height: 6px;
  }
</style>
