<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(SplitText);

  document.addEventListener("DOMContentLoaded", function () {
    const whoami = document.querySelector("#section-who-am-i .who-am-i");

    if (!whoami) return;

    const whoamiSplitted = new SplitText(whoami, {
      type: `chars`,
    });

    const whoamiReSplitted = new SplitText(whoamiSplitted.chars, {
      type: `chars`,
    });

    gsap.set(whoamiReSplitted.chars, { yPercent: -103 });

    gsap
      .timeline({
        scrollTrigger: {
          trigger: "#section-who-am-i",
          start: "top 85%", // top of the element, bottom of the viewport
        },
      })
      .to(whoamiReSplitted.chars, {
        yPercent: 0,
        duration: 1,
        ease: "expo.inout",
      })
      .fromTo(
        `#svg-cercle-line-1`,
        {
          drawSVG: false,
        },
        {
          drawSVG: true,
          ease: `power3.inOut`,
          delay: 0,
          duration: 1.5,
        }
      );
  });
</script>

<a href="/who-am-i" class="who-am-i o-hidden" rel="prefetch">
  <span class="text">Who am i ?</span>
  <svg
    id="svg-cercle"
    class="circle"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 288 60"
  >
    <path
      id="svg-cercle-line-1"
      stroke="#00f9df"
      stroke-width="3px"
      fill="none"
      d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z"
    ></path>
  </svg>
</a>

<style lang="scss">
  .who-am-i {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: clamp(37px, 9.2rem, 9.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, calc(-50% - 5px));
    letter-spacing: 0.44rem;
    text-align: center;
    color: var(--color-white-beauty);
    text-transform: uppercase;
    font-size: clamp(14px, 2.2rem, 2.2rem);
    font-family: var(--text-body-bold);

    .text {
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: middle;
      color: #fff;
    }

    .circle {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
</style>
