---
---

<script>
  import gsap from "gsap";
  import {
    ScrollSmoother,
    DrawSVGPlugin,
    ScrambleTextPlugin,
    SplitText,
    MorphSVGPlugin,
    ScrollTrigger,
  } from "gsap/all";
  import { scrollToTop } from "../features/project/functions/scrollToTop";

  gsap.registerPlugin(
    ScrollTrigger,
    ScrollSmoother,
    MorphSVGPlugin,
    SplitText,
    ScrambleTextPlugin,
    DrawSVGPlugin
  );
  // @ts-ignore
  const smoother = ScrollSmoother.create({
    smooth: 1.5, // how long (in seconds) it takes to "catch up" to the native scroll position
    effects: true, // looks for data-speed and data-lag attributes on elements
    smoothTouch: 0.1, // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
  });

  smoother.scrollTo("body", false); // Reset the scroll position when refresh https://greensock.com/docs/v3/Plugins/ScrollSmoother/scrollTo()

  document.querySelectorAll(".js-to-top").forEach((button) => {
    scrollToTop(button, smoother);
  });

  ScrollTrigger.refresh();
</script>

<div id="smooth-wrapper">
  <div id="smooth-content">
    <slot />
  </div>
</div>
