---
---

<script>
  import SplitText from 'gsap/SplitText';
  import gsap from 'gsap';

  new SplitText('.link', {
    type: 'lines',
  });
  const splitIntroPresentation = new SplitText('.link > div', {
    type: 'lines',
  });

  const wrapperMenu = document.querySelector('#wrapper-menu');
  const tlMenu = gsap.timeline();
  const tlBurger = gsap.timeline();

  tlBurger.addLabel('animate-button-open');
  // Animate top bar
  tlBurger.to(
    '#burger-open .line-1',
    {
      top: '33%',
      translateY: '-50%',
      rotate: '-45deg',
      duration: 0.1,
      ease: 'power4.inOut',
    },
    'animate-button-open'
  );
  // Animate bottom bar
  tlBurger.to(
    '#burger-open .line-3',
    {
      bottom: '50%',
      rotate: '45deg',
      translateY: '-50%',
      duration: 0.1,
      ease: 'power4.inOut',
    },
    'animate-button-open'
  );
  // hide bar 2
  tlBurger.to(
    '#burger-open .line-2',
    {
      scaleX: 0,
      duration: 0.1,
      ease: 'power4.inOut',
    },
    'animate-button-open'
  );

  tlBurger.pause();

  // fadein menu
  tlMenu
    .fromTo(
      '#wrapper-menu .content',
      {
        opacity: 0,
      },
      {
        opacity: 1,
        duration: 0.75,
        ease: 'back.inOut',
      }
    )
    .addLabel('reveal');
  // animate lines
  tlMenu.from(
    '#wrapper-menu .line',
    {
      scaleX: 0,
      stagger: 0.25,
      ease: 'power1.inOut',
      duration: 0.75,
    },
    'reveal'
  );
  tlMenu.from(
    splitIntroPresentation.lines,
    {
      y: 35,
      ease: 'power1.out',
      skewY: 0,
      stagger: {
        amount: 0.25,
      },
      duration: 0.65,
      opacity: 0,
    },
    'reveal+=0.5'
  );
  tlMenu.pause();

  document.getElementById('burger-button').addEventListener('click', () => {
    if (wrapperMenu.classList.contains('is-open')) {
      tlBurger.reverse();
      tlMenu.reverse();
    } else {
      tlBurger.play(0);
      tlMenu.play(0);
    }
    wrapperMenu.classList.toggle('is-open');
  });

  document.querySelectorAll('.link').forEach(function (element) {
    element.addEventListener('click', function (event) {
      event.preventDefault();
      tlBurger.reverse();
      tlMenu.reverse();
      setTimeout(() => {
        const href = element.getAttribute('href');
        window.location.href = href;
      }, 1500);
    });
  });
</script>

<div id="wrapper-menu" class="wrapper-menu">
  <div class="content" data-desktop="">
    <ul class="menu">
      <li>
        <span class="line"></span>
        <a class="link" href="/">Home</a>
      </li>
      <li>
        <span class="line"></span>
        <a class="link" href="/projects/dissidente">Who am i</a>
      </li>
      <li>
        <span class="line"></span>
        <a class="link" href="/contact">Contact</a>
        <span class="line"></span>
      </li>
    </ul>
  </div>
</div>

<style lang="scss">
  .wrapper-menu {
    display: block;

    position: fixed;
    z-index: 525;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .content {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: initial;
      overflow: hidden;
      will-change: opacity;
      mix-blend-mode: difference;
      background-color: black;

      .menu {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 50vw;
        transform: translateX(-50%) translateY(-50%);
        font-size: 6vw;
        font-family: WagonBold;
        line-height: 10vw;
        color: #fff;

        .line {
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff;
          transform-origin: 50% 50%;
        }
      }
    }
  }
</style>
