---
import Canvas from '@features/project/components/Canvas.astro';
import SectionImagesFooter from '@features/project/components/SectionImagesFooter.astro';
import SectionProjectOverview from '@features/project/components/SectionProjectOverview.astro';
import SectionQuotes from '@features/project/components/SectionQuotes.astro';
import getProjectUrlParams from '@features/project/functions/getProjectUrlParams';
import { SanityProject, SanityProjects } from '@features/project/interfaces/';
import { querySanityProjects } from '@features/project/queries/querySanityProjects';
import fetchSanity from '@helpers/fetchSanity';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const sanityProjects = await fetchSanity<SanityProjects>(querySanityProjects);
  const params = sanityProjects && getProjectUrlParams(sanityProjects);
  return params;
}

interface AstroProps {
  project: SanityProject;
}

const { project } = Astro.props as AstroProps;

const { hue, saturation } = project;
---

<script define:vars={{ hue, saturation }}>
  const root = document.querySelector(':root');
  //@ts-ignore
  root.style.setProperty('--canva-hue', hue);
  root.style.setProperty('--canva-saturation', saturation);
</script>

<Layout background="#FFF" title="Un beau projet">
  <Canvas slot="canvas" />
  <div slot="main-content">
    <div class="wrapper-project">
      <SectionProjectOverview project={project} />
      <SectionQuotes quote={project.quote} projectColor={project.color1} />
      <SectionImagesFooter images={project.imagesFooter} />
    </div>
  </div>
</Layout>

<style lang="scss">
  .wrapper-project {
    padding-top: clamp(95px, 9.5rem, 9.5rem);
  }
</style>
