---
import { getImage } from "@astrojs/image";
import Header from "@components/Header.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import SectionIntro from "@features/listing/components/SectionIntro/SectionIntro.astro";
import SectionColumn from "@features/listing/components/SectionColumn/SectionColumn.astro";
import SectionShowcase from "@features/listing/components/SectionShowcase/SectionShowcase.astro";

const { src: illustrationWebsite } = await getImage({
  src: import("@assets/images/illustration_website.png"),
});

const urlsImages = [illustrationWebsite];
---

<script>
  import { initListingAnimations } from "@features/listing/animations";
  import { gsap } from "gsap";
  import { ScrambleTextPlugin } from "gsap/all";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger, ScrambleTextPlugin);

  window.addEventListener("load", initListingAnimations);
</script>

<LayoutProjects urlsImages={urlsImages}>
  <div slot="main-content">
    <Header />
    <main>
      <SectionIntro />
      <SectionColumn />
      <SectionShowcase />
    </main>
  </div>
</LayoutProjects>

<style lang="scss" is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  :root {
    --color-text: #fff;
    --color-bg: #f3f3f3;
    --color-link: #00f9df;
    --color-link-hover: #00f9df;
    /* Column/item variables */
    --ratio: 1.3; /* image ratio */
    --grid-item-width: 32vw; /* image width */
    --justify: space-between; /* spread columns or center */
    --gap: 2.5vw; /* column gap and margin for items */
    --rotation: 0deg; /* section rotation */
    --radius: 0px; /* image border radius */
    --offset: -30vh; /* offset of even columns */
    /* content section */
    --radius-small: 4px; /* border radius of small images */
  }

  main {
    overflow: hidden;
  }

  .unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }

  .unbutton:focus {
    outline: none;
  }

  .section__title {
    font-family: var(--text-heading);
    font-weight: 300;
    font-size: clamp(36px, 17vw, 12.5rem);
    margin: 5vh 0 6vh;
    line-height: 0.9;
    text-transform: none;
    -moz-font-feature-settings: "swsh";
    -webkit-font-feature-settings: "swsh";
    font-feature-settings: "swsh";

    @media screen and (max-width: 1024px) {
      margin: 28px 0 24px;
    }
  }
</style>
