---
import { Image } from "@astrojs/image/components";
import instagram from "@assets/images/instagram.png";
---

<script>
  import { revealGoodbye, revealBlocs } from "./Footer.animation";
  document.addEventListener("DOMContentLoaded", () => {
    revealGoodbye();
    revealBlocs();
  });
</script>

<footer>
  <div class="wrapper">
    <div id="trigger-next-project"></div>
    <div id="wrapper-infos" class="o-hidden">
      <div class="infos">
        <a
          target="_blank"
          class="mail js__reveal-line"
          href="mailto:drawmeasheepdesign@gmail.com"
        >
          drawmeasheepdesign@gmail.com
        </a>
        <p class="baseline js__reveal-line">
          Drawing from Nice, France to all around the world.
        </p>
        <p class="developer js__reveal-line">
          <span class="highlight">Development :</span>{" "}
          <a target="_blank" href="https://developpeur-web.tech/">Kovsky</a>
        </p>
      </div>
    </div>
    <div class="o-hidden">
      <div class="socials js__reveal-line">
        <div class="social instagram">
          <Image
            width={42}
            height={42}
            src={instagram}
            alt="Instagram Draw me a sheep"
          />
        </div>
        <div class="detail">
          <p>
            <span class="highlight js__reveal-line"> Insta:</span>
            <a href="https://instagram.com/drawmeasheep1">drawmeasheep1</a>
          </p>
          <p>
            <span class="highlight js__reveal-line">Mascotte:</span> Sheepoteur
          </p>
          <p>
            <span class="highlight js__reveal-line">©drawmeasheep</span>
          </p>
        </div>
      </div>
    </div>
    <div class="goodbye">
      <p id="goodbye" class="title o-hidden split-text">
        Can’t wait to draw with you !
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: #fff;

    &.black-footer {
      background-color: #000;
      .wrapper {
        background-color: #000;
      }
      .infos {
        .mail {
          color: #fff;
        }
        .baseline {
          color: #fff;
        }
        .developer {
          color: #fff;
        }
      }
      .socials {
        .detail {
          color: #fff;
        }
        .detail a {
          color: #fff;
        }
        .detail a:hover {
          color: var(--color-ice-ice-baby);
        }
      }
      .goodbye {
        .title {
          color: #fff;
        }
      }
    }

    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 163rem;
      margin: 0 auto;
      padding: 4.2rem 0;
      background-color: #fff;
      @media screen and (max-width: 726px) {
        padding: 24px 12px;
        max-width: 100%;
      }
    }
  }

  #trigger-next-project {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .infos {
    .mail {
      display: block;
      font-size: clamp(12px, 2.4rem, 2.4rem);
      font-family: var(--text-body-bold);
    }

    .baseline {
      font-size: clamp(12px, 2.4rem, 2.4rem);
      font-style: italic;
      margin-bottom: 4px;

      @media screen and (max-width: 726px) {
        max-width: 134px;
      }
    }

    .developer {
      font-size: clamp(11px, 1.6rem, 1.6rem);

      .highlight {
        font-family: var(--text-body-bold);
      }
    }
  }

  .socials {
    display: flex;
    gap: 0.4rem;
    align-items: center;

    .social {
      max-width: clamp(42px, 4.2rem, 4.2rem);
    }
    .detail {
      font-size: clamp(11px, 1.6rem, 1.6rem);
      line-height: 1.2;
    }
    .highlight {
      font-family: var(--text-body-bold);
    }
  }

  .goodbye {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
    .title {
      font-size: clamp(16px, 3.7rem, 3.7rem);
      font-family: WagonBold;
    }
  }
</style>
