---
import { Image } from '@astrojs/image/components';
import { SanityImage } from '@interfaces/SanityImage';
import { toHTML } from '@portabletext/to-html';
import { SanityWhoAmI } from '../../interfaces/SanityWhoAmI';

interface AstroProps {
  textPresentation: any[];
  portrait: SanityImage;
}

const { textPresentation, portrait } = Astro.props as AstroProps;

const textPresentationHTML = toHTML(textPresentation, {
  components: {
    /* optional object of custom components to use */
  },
});
---

<section class="section-presentation">
  <div class="col">
    <div class="wrapper-portrait">
      <span class="text text-who">Who</span>
      <span class="text text-am">am</span>
      <span class="text text-i">I ?</span>
      <Image
        width={portrait.asset.metadata.dimensions.width}
        height={portrait.asset.metadata.dimensions.height}
        src={portrait.asset.url}
        format="avif"
        alt="Instagram Draw me a sheep"
      />
    </div>
  </div>
  <div class="text-presentation" set:html={textPresentationHTML}></div>
</section>

<style lang="scss" is:global>
  .section-presentation {
    display: grid;
    grid-template-columns: 568px 1fr;
    max-width: clamp(1208px, 120.8rem, 120.8rem);
    margin: 11.1rem auto 0 auto;
    font-size: clamp(16px, 1.8rem, 1.8rem);
  }

  .text-presentation {
    h2 {
      font-family: var(--text-body-bold);
      font-size: clamp(22px, 2.2rem, 2.5rem);
      letter-spacing: 2px;
      margin-bottom: clamp(29px, 2.9rem, 2.9rem);
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.4;
      letter-spacing: 1.5px;
    }
  }

  .wrapper-portrait {
    position: relative;
    display: inline-block;

    .text {
      position: absolute;
      font-size: 12.9rem;
      font-family: var(--text-heading);
      &.text-who {
        transform: rotate(-90deg);
        top: 111px;
        left: -216px;
        letter-spacing: 0;
      }
      &.text-am {
        transform: rotate(270deg);
        right: -175px;
        bottom: 100px;
      }
      &.text-i {
        left: 218px;
        bottom: -150px;
        width: clamp(160px, 16rem, 16rem);
      }
    }
  }
</style>
