---
import LogoMark from '../LogoMark.astro';
---

<div class="mini-menu">
  <div class="relative wrapper">
    <div
      id="mini-menu-mark"
      data-speed="1.2"
      data-lag="0.5"
      class="mark"
      class="mark hide-mobile"
    >
      <LogoMark />
    </div>
    <div id="mini-menu-presentation" class="presentation" class="categories">
      <span class="categorie opacity-0 webdesign desktop">WEBDESIGN</span>
      <span class="categorie opacity-0 webdesign mobile">WEB</span>
      <span class="separator opacity-0">I</span>
      <span class="categorie opacity-0 print">PRINT</span>
      <span class="separator opacity-0">I</span>
      <span class="categorie opacity-0 brand desktop"
        ><a href="/projects/la-recyclerie">BRAND IDENTITY</a>
      </span>
      <span class="categorie opacity-0 brand mobile"
        ><a href="/projects/la-recyclerie">BRAND</a>
      </span>
      <span class="separator opacity-0">I</span>
      <span class="categorie opacity-0 illustration">ILLUSTRATION</span>
      <span class="separator opacity-0 desktop">I</span>
      <span class="categorie opacity-0 layout desktop"
        ><a href="/les-reservoirs-de-passy">LAYOUT</a>
      </span>
    </div>
  </div>
</div>

<style lang="scss" is:global>
  .mini-menu {
    position: absolute;
    bottom: 54px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 550px) {
      bottom: 24px;
      left: 0;
    }
  }

  .wrapper {
    display: inline-block;
    @media screen and (max-width: 766px) {
      display: block;
    }
  }

  .mark {
    opacity: 0;
    position: absolute;
    right: -3rem;
    bottom: clamp(180px, 18rem, 18rem);
    display: block;
    width: clamp(100px, 21.8rem, 21.8rem);
    height: 21.8rem;

    @media screen and (max-width: 766px) {
      display: none;
    }

    .canva-black & {
      color: var(--color-white-beauty);
    }

    .canva-white & {
      color: var(--color-black-beauty);
    }
  }

  .presentation {
    overflow: hidden;
    gap: clamp(7px, 2.4rem, 2.4rem);
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    font-family: var(--text-body-bold);

    a {
      transition: color 0.15s linear;
      &:hover {
        color: var(--color-ice-ice-baby);
      }
    }

    @media screen and (max-width: 766px) {
      justify-content: space-between;
      padding: 0 35px;
    }

    .categorie {
      &.mobile {
        display: none;
        @media screen and (max-width: 766px) {
          display: inherit;
        }
      }

      &.desktop {
        display: inherit;
        @media screen and (max-width: 766px) {
          display: none;
        }
      }
    }

    span {
      letter-spacing: clamp(2px, 0.56rem, 0.56rem);
      font-size: clamp(12px, 1.6rem, 1.6rem);

      .canva-black & {
        color: var(--color-white-beauty);
      }
      .canva-white & {
        color: var(--color-black-beauty);
      }
    }

    .separator {
      transform: translate(0%, 100%);
      .canva-black & {
        color: var(--color-white-beauty);
      }
      .canva-white & {
        color: var(--color-black-beauty);
      }

      &.desktop {
        display: inherit;
        @media screen and (max-width: 766px) {
          display: none;
        }
      }
    }
  }
</style>
