---
import { Circle } from "@features/project/components/Circle";
import { SanityProject } from "@features/project/interfaces/";

interface Props {
  nextProject: SanityProject;
}

const { nextProject } = Astro.props;
---

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  import {
    displayNextProject,
    moveToPortal,
    getMarker,
  } from "./SectionNextProject.animations";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("DOMContentLoaded", () => {
    moveToPortal();

    gsap.to(`#svg-cercle-line-1`, {
      drawSVG: false,
    });

    const markers = getMarker();

    // hide
    // const revealElements = document.querySelectorAll(".reveal");
    // if (!revealElements.length) return;

    // revealElements.forEach((revealElement) => {
    //   const splitedReveal = new SplitText(revealElement, {
    //     type: `chars`,
    //   });

    //   gsap.set(splitedReveal.chars, { yPercent: -120 });
    // });

    ScrollTrigger.create({
      trigger: "#trigger-next-project",
      start: "140px bottom",
      endTrigger: "footer",
      markers: markers,
      onToggle: (e) => {
        displayNextProject(e.direction);
      },
    });
  });
</script>

<div id="next-project" class="next-project">
  <div id="wrapper-next" class="wrapper-next-project">
    <div id="see-next" class="see-next">
      <p class="line1">
        <span>See</span><span
          style={`color: ${nextProject.mainColor.hex}`}
          class="highlight line1"
          >nex<span class="glitch">t</span>
        </span>
      </p>

      <div id="wrapper-hide" class="">
        <span class="line glitch line2">Project ?</span>
      </div>
    </div>

    <div class="answers">
      <Circle
        color={nextProject.mainColor.hex}
        link={`/projects/${nextProject.slug.current}`}
      />
      <button id="no-answer" class="no-answer js-to-top">No thanks</button>
    </div>
  </div>
</div>
<style lang="scss" is:global>
  .next-project {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    // height: calc(100% - clamp(111px, 16rem, 16rem));
    height: 100%;
    padding: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    opacity: 1;
    transition: all ease-in-out 0.3s;

    .line {
      position: relative;
    }
  }

  .wrapper-next-project {
    position: relative;
    bottom: 7rem;
    width: clamp(80%, 163rem, 163rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (min-width: 2300px) {
      bottom: 0;
    }
  }

  .see-next {
    font-family: var(--text-script);
    color: var(--color-white-beauty);
    .line {
      display: block;
    }
    .line1 {
      font-size: 250px;
      display: flex;

      @media only screen and (min-width: 2300px) {
        font-size: 30rem;
      }

      @media screen and (max-width: 1240px) {
        font-size: 250px;
      }
      @media screen and (max-width: 768px) {
        font-size: 100px;
      }
      &.glitch {
        position: relative;
        // bottom: 1rem;
      }
    }

    .highlight {
      color: var(--color-ice-ice-baby);
    }
    .glitch {
      font-family: var(--text-script-bold);
    }

    .line2 {
      position: relative;
      bottom: 5rem;
      font-size: 216px;

      @media only screen and (min-width: 2300px) {
        font-size: 282px;
      }
      @media screen and (max-width: 1240px) {
        font-size: 216px;
      }

      @media screen and (max-width: 766px) {
        font-size: 88px;
      }
    }
  }

  .answers {
    position: relative;

    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    gap: clamp(16px, 2.4rem, 2.4rem);

    color: var(--color-white-beauty);
    font-family: var(--text-body-bold);
    font-size: clamp(20px, 4rem, 4rem);

    @media screen and (min-width: 2300px) {
      max-width: 824px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 100%;
    }
    .no-answer {
      position: relative;
      right: 15px;
      text-align: center;
      border: none;
      background-color: transparent;
      color: var(--color-white-beauty);
      font-family: var(--text-body-bold);
      font-size: 25px;
      cursor: pointer;
      transition: all 0.3s linear;

      @media screen and (max-width: 768px) {
        right: 0;
        font-size: 16px;
      }

      &:hover {
        color: var(--color-ice-ice-baby);
      }
    }

    .lets-go {
      position: relative;
      left: initial;
      top: initial;
      transform: initial;
      &:hover {
        color: var(--color-ice-ice-baby);
      }
      @media only screen and (min-width: 2300px) {
        left: -26px;
      }

      @media screen and (max-width: 768px) {
        position: relative;
        top: initial;
        left: initial;
        transform: none;

        .text {
          font-size: 24px;
        }
      }
    }
  }
</style>
