<span id="answer-no" data-speed="0.98" data-lag="0.02" class="no"> No</span>

<style lang="scss">
  .no {
    position: absolute;
    font-size: clamp(16px, 3rem, 3rem);
    right: 74rem;

    @media screen and (max-width: 1024px) {
      right: 30rem;
    }
  }
</style>

<script>
  import gsap from 'gsap';
  import getRandomInt from '@helpers/getRandomInt';

  function handleNoHoverDesktop() {
    const rightPos = getRandomInt(94, 24);

    gsap.to('#answer-no', {
      right: rightPos + 'rem',
      ease: 'Power4.out',
      duration: 0.3,
    });
  }

  document.addEventListener('DOMContentLoaded', () => {
    const answerNo = document.querySelector('#answer-no');

    function handleNoHoverMobile() {
      gsap
        .timeline({
          yoyo: true,
        })
        .fromTo(
          answerNo,
          {
            scale: 1,
            opacity: 1,
          },
          {
            scale: 0.2,
            opacity: 0,
            duration: 0.75,
            ease: 'power4.out',
          }
        )
        .to(answerNo, {
          delay: 1,
          scale: 1,
          opacity: 1,
          duration: 0.75,
          ease: 'bounce.out',
        });
    }
    if (window.innerWidth > 1024) {
      answerNo?.addEventListener('mouseenter', handleNoHoverDesktop);
    }
    answerNo?.addEventListener('touchstart', handleNoHoverMobile);
  });
</script>
