---
import { Image } from "@astrojs/image/components";

import { SanityImage } from "@interfaces/SanityImage";

interface AstroProps {
  mainImages: SanityImage[];
  mainImageMobile: SanityImage;
  positionMainImageMobile: string;
}

const { mainImages, mainImageMobile, positionMainImageMobile } =
  Astro.props as AstroProps;
const position = positionMainImageMobile || "left";
---

<script>
  import { revealImages } from "./MainImages.animation";

  revealImages();
</script>

<div class="wrapper-images desktop" data-speed="0.95" data-lag="0.02">
  {
    mainImages.map((image) => {
      return (
        <div class="wrapper-image o-hidden  ">
          <img class="reveal-illustration" src={image.asset.url} alt="image" />
        </div>
      );
    })
  }
</div>
<div class={`wrapper-images mobile ${position}`}>
  {
    mainImageMobile && (
      <img class="reveal-illustration" src={mainImageMobile.asset.url} />
    )
  }
</div>

<style lang="scss">
  .wrapper-images {
    display: flex;
    flex-direction: row;

    &.left {
      box-sizing: border-box;
      justify-content: flex-start;
      padding-right: 24px;
    }
    &.right {
      justify-content: flex-end;
    }
    &.center {
      justify-content: center;
    }

    &.mobile {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: inherit;
        margin-top: 40px;
      }
    }

    .wrapper-image {
      &:nth-child(1) {
        margin-top: 15rem;
        position: relative;
        right: 1.4rem;
      }
      &:nth-child(2) {
        margin-top: 34px;
      }
    }
  }
</style>

<!-- 
 -->
