---
import { MiniMenu } from '../MiniMenu';
---

<script>
  import { animateTitle } from './SectionHero.animations';

  animateTitle();
</script>

<div class="hero-wrapper">
  <h1 id="section-hero-title" class="heading" data-speed="0.98" data-lag="0.04">
    <div class="letters graphic">
      <p class="shadow">Graphic</p>
      <div data-lag="0.0055" data-char=".">G</div>
      <div data-lag="0.0165" data-char=".">r</div>
      <div data-lag="0.022" data-char="a">a</div>
      <div data-lag="0.07" data-char="p">p</div>
      <div data-lag="0.08" data-char="h">h</div>
      <div data-lag="0.09" data-char=".">i</div>
      <div data-lag="0.1" data-char=".">c</div>
    </div>
    <div class="highlight">
      <div class="letters">
        <div data-char=".">s</div>
        <div data-char=".">t</div>
        <div data-char=".">u</div>
        <div data-char=".">d</div>
        <div data-char=".">i</div>
        <div data-char="o">o</div>
      </div>
    </div>
  </h1>
  <MiniMenu />
</div>

<style lang="scss" is:global>
  .shadow {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .hero-wrapper {
    position: relative;
    min-height: calc(100vh);
    display: flex;
    align-items: center;

    @media screen and (max-width: 550px) {
      padding: 0 35px;
    }
  }
  .heading {
    visibility: hidden;
    position: relative;
    margin-left: -1.1rem;
    font-size: 0;
    z-index: 10;
    mix-blend-mode: difference;
    font-family: var(--text-heading);

    .canva-black & {
      color: var(--color-white-beauty);
    }
    .canva-white & {
      color: var(--color-black-beauty);
    }

    .letters {
      position: relative;
      font-size: 0;
      overflow: hidden;
      display: flex;
      div {
        font-size: clamp(80px, 27.7rem, 27.7rem);
        display: inline-block;
        @media screen and (max-width: 768px) {
          font-size: 35rem;
        }
      }

      &.graphic {
        letter-spacing: 1px;
      }
    }

    .highlight {
      display: block;
      font-size: 0;
      position: relative;
      bottom: 5.4rem;
      margin-left: -1.4rem;
      color: transparent;

      letter-spacing: 1px;

      .canva-black & {
        -webkit-text-stroke: 2px var(--color-white-beauty);
      }
      .canva-white & {
        -webkit-text-stroke: 2px var(--color-black-beauty);
      }

      @media screen and (max-width: 768px) {
        .canva-black & {
          -webkit-text-stroke: 1px var(--color-white-beauty);
        }
        .canva-white & {
          -webkit-text-stroke: 1px var(--color-black-beauty);
        }
      }

      @media screen and (max-width: 768px) {
        bottom: 0;
      }

      div {
        font-size: 31.6rem;
        letter-spacing: 1px;
      }
    }

    .letters {
      letter-spacing: 1px;
    }

    div {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-char);
        transform: translateY(-103%);
      }
    }
  }
</style>
