---
import Gsap from '@components/Gsap.astro';
import Header from '@components/Header.astro';
import Logo from '@components/Logo.astro';
import '@styles/fonts.scss';
import '@styles/reset.css';
import '@styles/utilities.scss';
import '@styles/variables.scss';
import '@styles/global.scss';
import '@styles/functions.scss';
import { Menu, Burger, Footer } from '@components/index';

import illustrationFingers from '@assets/images/illustration_fingers.png';
import { getImage } from '@astrojs/image';
import { GetImageTransform } from '@astrojs/image/dist/lib/get-image';
const image: GetImageTransform = {
  src: illustrationFingers.src,
  width: 800,
  height: 800,
  format: 'avif',
};
const { src } = await getImage(image);

export interface Props {
  title: string;
  background: string;
}

const { title, background } = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<link rel="prefetch" href="/contact" />
<link rel="prefetch" href="/projects/dissidente" />

<link rel="preload" as="image" href={src} />

<body style={{ background }} class="canva-black">
  <Burger />
  <Header />
  <slot name="canvas" />
  <Logo />
  <Gsap>
    <div id="main-content" style={{ opacity: 0 }}>
      <slot name="main-content" />
    </div>
    <Footer />
  </Gsap>
  <Menu />
  <style lang="scss">
    body {
      transition: all 0.3s linear;
    }
    :global(:root) {
      font-size: calc(100vw / 1920 * 10);
    }

    :global(h1) {
      font-size: var(--font-size-xl);
    }

    :global(h2) {
      font-size: var(--font-size-lg);
    }

    :global(code) {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</body>
