---
import Gsap from '@components/Gsap.astro';
import Header from '@components/Header.astro';
import Logo from '@components/Logo.astro';
import Canvas from '@features/home/components/Canvas.astro';
import '@styles/fonts.scss';
import '@styles/reset.css';
import '@styles/utilities.scss';
import '@styles/variables.scss';
import '@styles/global.scss';
import '@styles/functions.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<script>
  window.scrollTo(0, 0);
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<body style={{ background: '#000' }} class="canva-black">
  <Header />
  <Canvas />
  <Logo />
  <Gsap>
    <div id="main-content" style={{ opacity: 0 }}>
      <slot />
    </div>
    <footer>Footer</footer>
  </Gsap>

  <style lang="scss">
    body {
      transition: all 0.3s linear;
    }
    :global(:root) {
      font-size: calc(100vw / 1920 * 10);
    }

    :global(h1) {
      font-size: var(--font-size-xl);
    }

    :global(h2) {
      font-size: var(--font-size-lg);
    }

    :global(code) {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</body>
